<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Greeting page</title>
</head>
<body>
<div class="container-fluid">
  <?if($auth):?>
  <h3>Hello
    <?= $name ?>
  </h3>
  <a class="btn btn-primary" role="button" href="main.php">Main</a>
   <a class="btn btn-primary" role="button" href="home.php">Cabinet</a>
	<a class="btn btn-primary" role="button" href="filters.php">Filters</a>
	<a class="btn btn-primary" role="button" href="exit.php">Exit</a>
  <?else:?>
  <h3>Hello gest!</h3>
  <div class="btn-group" role="group" aria-label="Basic example"> 
	  <a class="btn btn-primary" role="button" href="authorize.php">Authorization</a> 
	  <a class="btn btn-primary" role="button" href="registration.php">Registration</a>
	</div>
	<?endif?>
</div>
</body>
</html>
