<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Registration</title>
</head>
<body>
<div class="container-fluid">
  <form action="" method="post">
	  <input type="hidden" name="id" value="<?=$id?>">
    <div class="form-group">
      <label for="password">Insert your password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Insert your password here">
    </div>
    <div class="form-group">
      <label for="password2">Insert your password one more time</label>
      <input type="password" class="form-control" name="password2" id="password2" placeholder="Insert your password here">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
	<? if(isset($errorText)):?>
	<script>alert("<?= $errorText?>")</script>
	<?endif?>
</div>
</body>
</html>
